.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: transparent;
    /* position: fixed; */
    color: #e1d7d7;
    font-family:Georgia, 'Times New Roman', Times, serif;
    z-index: 100;
}

.logo {
    font-size: 1.7rem;
    font-weight: bold;
    color: #f12828;
}

.nav-links {
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    cursor: pointer;
    transition: 0.5s ease-in-out;
    margin: 5px 5px;
    padding: 5px 10px;

}

.nav-links li:hover {
    color: #ee3030;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10%;
}

.nav-links li a {
    text-decoration: none;
    color: inherit;
}